<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b6b6c2826a.js" crossorigin="anonymous"></script>
    

    <!-- Bootstrap-->
    <link href="/CSS/create.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark Dark-mode-body">
       <a class="navbar-brand" href="homepage"><img src="/images/RFLOGO2.png" width="250px" height="60px"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
    </nav><br><br><br><hr>

    <div class="sidebar"><br>
        <a href="create"><i class="far fa-file" style="font-size:40px;color:white"></i><br>Create</a>
        <a class ="active" href="#"><i class="far fa-folder-open" style="font-size:40px;color:white"></i>Open</a>
        <a href="viewDay"><i class="fas fa-adjust" style="font-size:40px;color:white"></i>Night Mode</a>
    </div>

    
    <form >
        <label for="month">Month</label>
        <select name="month" id="month">
          <option value="select">Select Month:</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
 
      <label for="week">Week</label>
      <select name="week" id="week">
        <option value="Week 1">Week 1</option>
        <option value="Week 2">Week 2</option>
        <option value="Week 3">Week 3</option>
        <option value="Week 4">Week 4</option>
        <option value="Week 5">Week 5</option>
      </select>
    </form>
    
    

    <br><br><br><br>
    <div class="tables">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Week</th>
      <th scope="col">Sales<br>Invoice No.</th>
      <th scope="col">Tin</th>
      <th scope="col">Address</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Calculation</th>
      <th scope="col">Total Sales</th>
      <th scope="col">12% Vat</th>
      <th scope="col">Total Amount<br>Receivable</th>
      
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.Transaction_ID}}</th>
      <td>{{this.Date}}</td>
            <td>{{this.Week}}</td>
            <td>{{this.Invoice_No}}</td>
            <td>{{this.Tin}}</td>
            <td>{{this.Address}}</td>
            <td>{{this.Quantity}}</td>
            <td>{{this.Unit_Price}}</td>
            <td>{{this.Calculation}}</td>
            <td>{{this.Total_Sale}}</td>
            <td>{{this.Total_Vat}}</td>
            <td>{{this.Total_Amount_Receivable}}</td>
    </tr>

    {{/each}}
    
  </tbody>
</table>
  
 </body>
</html>
